:host{
    .product-card{
        margin-bottom: 3rem;
        .thumbnail{
            text-align: center;
            background-color: white;
            margin-bottom: 0.5rem;
            border-radius: 5px 5px 0 0 ;
            img{
                width: 100%;
            }
        }

        .details{
            background-color: white;
            padding: 1rem 2rem;
            border-radius: 0 0 5px 5px;
            .title{
                margin: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color:#344054;
                margin-bottom: 0.5rem;
            }

            .footer{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price{
                    font-family: Inter;
                    font-size: 1.3rem;
                    font-weight: 700;
                    color:#1D2939;
                    margin-inline: 0.5rem;
                    span{
                        color: #98A2B3;
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }

                .rating{
                    border: 1px solid #EAECF0;
                    border-radius: 8px;
                    padding: 0.25rem 0.5rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: #667085;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        color:#D0D5DD ;
                    }
                }
            }
        }
    }
}