<div class="page-wrapper conatiner-fluid">
    <div class="row g-5 px-4">
        
        <div class="product-header row g-5">

            <div class="gallery col-4">
                <p-galleria [value]="images" thumbnailsPosition="left" [numVisible]="3">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; min-height: 420px; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>

            <div class="info col-5">
                <h2 class="title">
                    PlayStation 5 Console (Disc Version) With Controller
                </h2>
                <h5 class="breif">
                    Model Number : CFI-1208A / CFI-1216A 01Y/CFI-1200A / CFI-1218A / CFI-1016A / CFI-1116A
                </h5>
                <div class="rating">
                    <i class="pi pi-star-fill" style="color:#fac516"></i>
                    <div>
                        4.5
                    </div>
                    <span>
                        434
                    </span>
                </div>
                <div class="price">
                    <span>EGP</span>
                    11,590
                </div>
                <div class="delivery">
                    Free Delivery by Tomorrow
                    <div>
                        Order in 6 hrs 46 mins
                    </div>
                </div>
                <div class="installment">
                    Monthly payment plans from EGP 778
                    <span>View more details</span>
                </div>
                <div class="valu-ad">
                    <img src="assets/valu-ad.png" alt="ValU ad">
                </div>
                <div class="quantity">
                    <button pButton pRipple label="Add To Cart">
                </button>
                </div>
            </div>

            <div class="policies col-3">
                <div class="policy-item">
                    <img src="assets/policy-return.png" alt="Return Icon">
                    <div>
                        <h6>FREE RETURNS</h6>
                        <p>
                            Get free returns on eligible items
                        </p>
                    </div>
                </div>
                <div class="policy-item">
                    <img src="assets/policy-shipping.png" alt="Shipping Icon">
                    <div>
                        <h6>TRUSTED SHIPPING</h6>
                        <p>
                            Free shipping when you spend EGP 200 and above on express items
                        </p>
                    </div>
                </div>
                <div class="policy-item">
                    <img src="assets/policy-secure.png" alt="Secure Icon">
                    <div>
                        <h6>SECURE SHOPPING</h6>
                        <p>
                            Your data is always protected
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="overview">
            <h3 class="title">
                Overview
            </h3>
            <p>
                The PS5 console unleashes new gaming possibilities that you never anticipated. Experience lightning fast loading with an ultra-high speed SSD, deeper immersion with support for haptic feedback, adaptive triggers, and 3D Audio, and an all-new generation of incredible PlayStation games.
                Explore uncharted virtual territories and slay dragons with this sleek Sony PlayStation 5 gaming console. The 825GB SSD allows ultra-fast load times, while 3-D audio output produces crisp acoustics. This Sony PlayStation 5 gaming console supports haptic feedback for effortless communication in multiplayer setups, and adaptive triggers allow immersive gameplay.Integrated I/OThe custom integration of the PS5 console's systems lets creators pull data from the SSD so quickly that they can design games in ways never before possible.
            </p>
        </div>

        <div class="highlights">
            <h3 class="title">
                Highlights
            </h3>
            <ul>
            
                <li> Lightning Speed - Harness the power of a custom CPU, GPU, and SSD with Integrated I/O that rewrite the rules of
                    what a PlayStation console can do.</li>
                <li>Stunning Games - Marvel at incredible graphics and experience new PS5 features.</li>
                <li> Breathtaking Immersion - Discover a deeper gaming experience with support for haptic feedback, adaptive
                    triggers, and 3D Audio technology.</li>
                <li>Enjoy smooth and fluid high-frame-rate gameplay at up to 120fps for compatible games.</li>
                <li>With an HDR tv, supported PS5 games display an unbelievably vibrant and lifelike range of colours</li>
                <li> Enjoy a comfortable, evolved design with an iconic layout and enhanced sticks, intuitively interact with select
                    games using the integrated motion sensor Hear higher-fidelity sound effects through the built-in speaker in
                    supported games</li>
            
            </ul>
        </div>
    </div>
</div>
