<div class="page-wrapper conatiner-fluid">
    @if(product$ | async; as product){
        <div class="row g-5 px-4">
            
            <div class="product-header row g-5">
    
                <div class="gallery col-4">
                    <p-galleria [value]="product.images" thumbnailsPosition="left" [numVisible]="1">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item" style="width: 100%; min-height: 420px; display: block;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center">
                                <img [src]="item" />
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>
    
                <div class="info col-5">
                    <h2 class="title">
                        {{product.title}}
                    </h2>
                    <h5 class="breif">
                        Model Number : {{product.sku}}
                    </h5>
                    <div class="rating">
                        <i class="pi pi-star-fill" style="color:#fac516"></i>
                        <div>
                            {{product.rating}}
                        </div>
                        <span>
                            ({{product.reviews.length}})
                        </span>
                    </div>
                    <div class="price">
                        <span>EGP</span>
                        {{product.price}}
                    </div>
                    <div class="delivery">
                        Free Delivery by Tomorrow
                        <div>
                            Order in 6 hrs 46 mins
                        </div>
                    </div>
                    <div class="installment">
                        Monthly payment plans from EGP 778
                        <span>View more details</span>
                    </div>
                    <div class="valu-ad">
                        <img src="assets/valu-ad.png" alt="ValU ad">
                    </div>
                    <div class="quantity">
                        <button pButton pRipple label="Add To Cart" (click)="AddToCart(product)">
                    </button>
                    </div>
                </div>
    
                <div class="policies col-3">
                    <div class="policy-item">
                        <img src="assets/policy-return.png" alt="Return Icon">
                        <div>
                            <h6>FREE RETURNS</h6>
                            <p>
                                Get free returns on eligible items
                            </p>
                        </div>
                    </div>
                    <div class="policy-item">
                        <img src="assets/policy-shipping.png" alt="Shipping Icon">
                        <div>
                            <h6>TRUSTED SHIPPING</h6>
                            <p>
                                Free shipping when you spend EGP 200 and above on express items
                            </p>
                        </div>
                    </div>
                    <div class="policy-item">
                        <img src="assets/policy-secure.png" alt="Secure Icon">
                        <div>
                            <h6>SECURE SHOPPING</h6>
                            <p>
                                Your data is always protected
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="overview">
                <h3 class="title">
                    Overview
                </h3>
                <p>
                    {{product.description}}
                </p>
            </div>
    
            <div class="highlights">
                <h3 class="title">
                    Highlights
                </h3>
                <ul>
                    <li>Warranty Information : {{product.warrantyInformation}}</li>
                    <li>Shipping Information : {{product.shippingInformation}}</li>
                    <li>Availability Status : {{product.availabilityStatus}}</li>
                    <li>Weight Status : {{product.weight}}KG</li>
                    <li>Dimensions W{{product.dimensions.width}} X H{{product.dimensions.height}} X D{{product.dimensions.depth}}</li>
                </ul>
            </div>
        </div>
    }
</div>
