<div class="product-list-wrapper">
    <h2 class="title">
        <span>136 Results for</span>
        "Electronics & Mobiles in Egypt"
    </h2>

    <div class="products-list">
        <div class="container-fluid">
            <div class="row row-cols-5 justify-content-start g-5">
                @for(product of (products$ | async)?.products; track product;) {
                    <div class="product-item col">
                        <app-product-card [product]="product"/>
                    </div>
                } 
            </div>
        </div>
        
    </div>
</div>
