<div class="container-fluid g-0">
    <div class="header-wrapper">
        <div class="logo" (click)="navigateToMain()">
            <img src="assets/Logo.png" alt="Convertedin Logo">
        </div>
        <div class="searchbar">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input (input)="search($event)" type="text" [style]="{'width':'100%'}" pInputText placeholder="search for product"  [ngClass]="{'ng-invalid ng-dirty' : isInvalidSearch}"/>
            </p-iconField>
        </div>
        <div class="wishlist">
            <i class="pi pi-bookmark"></i>
            <span>Wishlist</span>
        </div>
        <div class="cart" (click)="cartList.toggle($event)">
            <i class="pi pi-shopping-cart"></i>
            <span>Cart</span>
        </div>
        <p-overlayPanel #cartList>
            <app-cart-list/>
        </p-overlayPanel>
    </div>
</div>