@layer bootstrap-reboot, primeng;
// @import "bootstrap/dist/css/bootstrap-reboot.css" layer(bootstrap-rebooot);
@import "primeicons/primeicons.css";

$primaryColor:#002985;
$secondryColor: #E6ECFC;
$textColor: #101828;
$secondryTextColor:grey;
$mainBgColor:#F9FAFB;

html{
    font-size: 10px;
}

body{
    font-family: "Inter", system-ui;
    font-style: normal;
    margin: 0;
    background-color: $mainBgColor;
}

.page-wrapper{
    padding: 0 3rem;
}
