@import "bootstrap/dist/css/bootstrap-reboot.css";
@import "primeicons/primeicons.css";

$primaryColor:#002985;

html{
    font-size: 10px;
}

body{
    font-family: "Inter", system-ui;
    font-style: normal;
}
